@mixin formula($state: '') {

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 16px;
  padding: 1rem;
  background-color: map-get($formula-colors, $state);

  & input {
    width: 3rem;
    font-size: 1rem;
  }


}
